Website requirements:
1. Services offered
2. Little bit of information- stress, anxiety, relationships, self-awareness, addiction, bereavement, couples therapy, work-related stress, neurodiversity, trauma. 
3. Image- Map Your Mind logo(Top left)
4. Contact Us section
5. Testimonials
6. Questions and Answer (live chat)




Blurb of Addiction- What to do if suffering from addiction, signs of addiction.
Basic routines- things to do to help e.g. self help 



Introduction- What happens when people suffer from mental health and how it can eradicate any problems with support of a mental-health professional
""""""""""""- How 